.home-content {
  position: relative;

  img {
    height: 536px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.7);
  }

  .home-btn {
    width: 174px;
    height: 47px;
  }
}

.headings {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 24px;
  color: white;

  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
  }
}
