.pagination {
  display: flex;
  justify-content: center;

  .dot {
    fill: rgb(218, 217, 217);
    border-radius: 60%;
    padding: 0px 10px;
  }

  .active {
    fill: black;
  }

  .paginate-btn {
    cursor: pointer;
  }
}
