.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;

  .dot {
    fill: rgb(218, 217, 217);
    border-radius: 60%;
  }

  .active-dot {
    fill: black;
  }

  .paginate-btn {
    cursor: pointer;
    background-color: #eef7fb;
    border-radius: 50%;
    padding: 10px;
  }
}
