.results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .lemons__image {
    position: relative;
    width: 100%;

    img {
      height: 589px;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }
}

.results-heading {
  position: absolute;
  color: white;
  text-align: center;
  width: 50%;
  left: 25%;
  top: 10%;

  h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
  }

  .retake-btn {
    width: 238px;
    height: 47px;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}

.results {
  position: absolute;
  top: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  .daily__routine {
    width: 350px;
    height: 420px;
    background-color: #eef7fb;
    border-radius: 8px;

    .routine-heading {
      text-align: center;
    }

    p {
      width: 231px;
      margin: 0 auto;
      font-size: 20px;
    }
  }
}

.products-pagination {
  display: flex;
  flex-direction: column;
  text-align: center;

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.product {
  position: relative;
  width: 350px;
  height: 420px;
  margin-bottom: 70px;
  border-radius: 8px;
  background-color: #f6f6f6;

  img {
    width: 100%;
    border-radius: 8px;
  }

  .info {
    background-color: white;
    padding: 3px 7px;
  }

  .heart {
    position: absolute;
    right: 15px;
    padding-top: 20px;
    cursor: pointer;
  }
}
